.active{
    font-weight: bolder;
    color: white;
    background: linear-gradient(90deg,
        #ff1f71 0%,
        #ff7700 100%);
    /* border-right: solid 3px #ef8236; */
    border-radius: 6px;
}